<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336361315713-l8tk2h5h9b1crfakkg57l1p7bkalejcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336361315713-l8tk2h5h9b1crfakkg57l1p7bkalejcp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336361315713-6t9thl64jsksk2tlt1nqr0mqk2gtp4pg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIz4zu7LV9U9mDKCvupV_Q3ZcaH6NxfrE</string>
	<key>GCM_SENDER_ID</key>
	<string>336361315713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gah.godoysbarber</string>
	<key>PROJECT_ID</key>
	<string>godoys-barber</string>
	<key>STORAGE_BUCKET</key>
	<string>godoys-barber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336361315713:ios:c1833336c102fcf14e5c80</string>
	<key>DATABASE_URL</key>
	<string>https://godoys-barber.firebaseio.com</string>
</dict>
</plist>